@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Riot&display=swap');

* {
    padding: 0;
    margin: 0;
    
}

/**  **/

body{
    /**background-image: url(C:/Users/CRISTIAN/Documents/Portafolio-WEB/img/Fondo.jpg);**/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(128, 0, 128, 1) 50%, rgba(0, 0, 128, 1)100%);
}

/** fondo de la pagina  **/

.container{
    position: relative;
    top: 70px;
}

/** Carrusel de imagenes  **/

.container .wrapper{
    
    width: 80vw;
    height: 75vh;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.6);
    margin: .5rem auto;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid white;
    
}


/**.container .wrapper-holder{
    top: 10px;
    display: grid;
    grid-template-columns: repeat(4,100%);
    height: 60vh;
    width: 80vw;
    margin: .5rem auto;
    position: absolute;
    animation: slider 30s ease-in-out infinite 
    alternate;
} **/


.container .wrapper-holder{
    display: grid;
    grid-template-columns: repeat(4,100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite 
    alternate;

}

.button:hover{
    box-shadow: 0px 0px 7px 4px rgba( 0, 255, 255, 
    0.6);
}

#espacio{
    height: 20px;
}


#slider-img-1{
    background-position: center;
    width: 100%;
    height: 100%;
}

#slider-img-2{
    background-position: center;
    width: 100%;
    height: 100%;
}

#slider-img-3{
    background-position: center;
    width: 100%;
    height: 100%;
}

#slider-img-4{
    background-position: center;
    width: 100%;
    height: 100%;
}


.container .button-holder .button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}

.container .button-holder{
    position: absolute;
    left: 45%;
    display:flexbox;
    
}

@keyframes slider{
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}


.container .boton-right{
    background: red;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    border: 1px solid white;
    font-size: 50px;
    align-items: center;
    margin: 5px 5px;
    margin-left: 50px;
}


.boton-right a {

    text-align: center;
}












/** Barra de navegación  **/

nav { 
    
    position:fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Bungee", sans-serif;
    font-weight: lighter;
    padding: 2px 4px;
    height: 80px;
    background-color: black;
    background: black;
    
    font-size: 24px;

}


nav::before{
    
    content: "";
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    width:100%;
    height:100%;
    
    background: linear-gradient(
      45deg,red,blue,deeppink
      ,blue, red, deeppink, blue
    );
    background-size: 800%;
      border-radius: 20px;
      filter: blur(50px);
      animation:glowing 20s linear infinite;

}

@keyframes glowing{
    0% {
      background-position:0 0;
    }

    50% {
      background-position:400% 0;
    }

    100% {
      background-position:0 0;
    }
  }


nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

nav .logo img{
    width: 120px;
    height: 150px;
    display: block;
    margin-top: -19px;
}


nav .list{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Protest Riot", sans-serif;
    font-weight: 200;
    font-style: normal;
    
}

nav .list li{
    list-style: none;
}

nav .list a{
    display: block;
    text-transform: uppercase;
    padding: 15px 25px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    border-radius: 25px;
}

nav .list a:hover{
    background-color: black;
}

#toogle{
    position: absolute;
    top:-100px;

}

nav .icon-bars {
    display: none;
    position: absolute;
    right: 5%;
    top:50%;
    transform: translateY(-50%);
}

nav .icon-bars .line{
    width: 30px;
    height: 5px;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

@media(max-width: 768px){
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }

    nav .list{
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: #2A3B51;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }


    nav .list a{
        font-size: 20px;
    }

    nav :checked ~ .list{
        bottom: 0;
    }

    nav .icon-bars{
        display: block;
    }


    .container .wrapper-holder{
        display: grid;
        grid-template-columns: repeat(4,100%);
        height: 200px;
        width: 80%;
        animation: slider 30s ease-in-out infinite 
        alternate;
    
    }

    .acerca{
      top: 50px;
      position: fixed;
      width: 200px;
    }
    



   
}

@media (max-width: 768px) {
    .list a {
      font-size: 16px;
      line-height: 1.5;
    }
  }



  /** Acerca de mi **/

  .fondo2{
    display: block;
    margin-top:25%;
    width: 100%;
    height: 30%;
    
  }
  
  .acerca{
    position: relative;
    
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;

  }


  .acerca {
    top:100px;
    position: relative;
    width: 1100px;  /** 550px**/
    height: 300px;   /**250px **/
    border: 1px solid #ccc;
    align-items: center;
    /*background-image: url(C:/Users/CRISTIAN/Documents/Portafolio-WEB/img/Fondo.jpg); */
    background: black;
    top:-20px;
    border-radius: 15px;
    
  }


  .acerca #foto{
    display: block;
    position: relative;
    right: -50px;
    top: 75px;
    border-radius: 5px;
    border: 1px solid #ffffff ;


  }

  .acerca .yo{
    
    position: absolute;
    left: 700px;
    top: 100px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;

  }


  .acerca .descripción{
    width: 500px;
    height: 500px;
    margin-left: 550px;
    margin-top:-200px;
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: justify;
    color: #ffffff;

  }

  .tecnologias{
    position: center;
    margin-left: 130px;
    position: relative;
    
  }

  .tecnologias #tecno{

    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:#ffffff;
    margin-left: 450px;
    margin-top: -200px;

  }

  .tecnologias .imagen{
    position: relative;
    margin-top: 28px;
    margin-left: 75px;
    
  }

  .tecnologias .imagen1{

    display: flex;
    margin-left: 630px;
    margin-top: -168px;
   
  }

  .tecnologias .imagen2{
    display: flex;
    margin-left: 850px;
    margin-top: -186px;

  }

  .tecnologias .imagen3{
    display: flex;
    margin-left: 1060px;
    margin-top:-179px

  }


  /* barra de redes sociales*/


  
  .container-bar{
    width: 100%;
    max-width: 50px;
    position: fixed;
    left: 0;
    top: 25%;
}
.container-bar a{
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: all 500ms ease;
    color: #fff;
}
.container-bar a:hover{
    background: #1c1c1c;
}
.container-bar .fa-facebook{
    background: #3b5998;
    border-radius: 0px 5px 0px 0px;
}
.container-bar .fa-youtube{
    background: #e52a23;
}
.container-bar .fa-twitter{
    background: #00acee;
}
.container-bar .fa-github{
    background: #747473;
}
.container-bar .fa-pinterest{
    background: #c8232c;
    border-radius: 0px 0px 5px 0px;
}
.container-bar #title{
    position: absolute;
    background: #1c1c1c;
    padding: 0px 8px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    top:12px; left: 0px;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}
.container-bar a:hover #title{
    opacity: 1;
    visibility: visible;
    left: 64px;
}
.container-bar #title:after{
    position: absolute;
    content: '';
    border-left: 7px solid transparent;
    border-right: 6px solid #1c1c1c;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    right: 100%;
    top: 8px;
}
#btn-social{
    display: none;
}
.fa-play{
    cursor: pointer;
    transition: all 0.4s;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
    transform: rotate(180deg);
    color: #49b0e6;
}
#btn-social:checked ~ .fa-play{
    transform: rotate(0deg);
}
.icon-social{
    transition: all 0.4s;
    transform: translateX(0%);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
#btn-social:checked ~ .icon-social{
    transform: translateX(-100%);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.0);
}


.skills-list {
    list-style: none;
    padding: 0;
  }
  
  .skill-name {
    font-weight: bold;
    margin-left: 300px;
    font-family: "Protest Riot", sans-serif;
    color: white;
    
  }
  
  .skill-bar {
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 5px;
    width: 900px;
    margin-left: 300px;
    
  }
  
  .skill-progress {
    background-color: #4caf50;
    height: 60px;
    border-radius: 5px;
    width: 0;
    /* Esto se actualizará con JavaScript o con un valor en línea */
  }

  .origen{
    margin-top: 100px;
    margin-left: 590px;
    position: relative;
    font-family: "Protest Riot", sans-serif;
    font-size: 30px;
    color: white;
    
  }
  



